body{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(120deg,#007bff,#d0314c);
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 29vw;
    background: white;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .textfield{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.textfield input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.textfield label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;

}

.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]:hover{
   background: #2691d9;
   color: #e9f4fb;
   transition: .5s;
}
.signuplink{
    text-align: center;
    padding:15px 0;
}
.signuplink a{
    color: #007bff;
    text-decoration: none;
}
.signuplink a:hover{
    color: #0d1c2c;
    transition: .5s;
    text-decoration: underline;
}
@media only screen and (max-width: 540px) {
    .center{
        width: 300px;
    }
}